/*Mount Hood Color Theme Blue Tint ------------------------------*/

/* Color Theme Swatches in Hex */
.color-Scheme-Blue-Tint-1-hex {
    color: #F2E0F2;
}

.color-Scheme-Blue-Tint-2-hex {
    color: #BFB3BF;
}

.color-Scheme-Blue-Tint-3-hex {
    color: #8C8C98;
}

.color-Scheme-Blue-Tint-4-hex {
    color: #63639D;
}

.color-Scheme-Blue-Tint-5-hex {
    color: #0C0C26;
}

/* Color Theme Swatches in RGBA */
.color-Scheme-Blue-Tint-1-rgba {
    color: rgba(242, 224, 242, 1);
}

.color-Scheme-Blue-Tint-2-rgba {
    color: rgba(191, 179, 191, 1);
}

.color-Scheme-Blue-Tint-3-rgba {
    color: rgba(140, 140, 152, 1);
}

.color-Scheme-Blue-Tint-4-rgba {
    color: rgba(99, 99, 157, 1);
}

.color-Scheme-Blue-Tint-5-rgba {
    color: rgba(12, 12, 38, 1);
}

/* Color Theme Swatches in HSLA */
.color-Scheme-Blue-Tint-1-hsla {
    color: hsla(300, 40, 91, 1);
}

.color-Scheme-Blue-Tint-2-hsla {
    color: hsla(300, 8, 72, 1);
}

.color-Scheme-Blue-Tint-3-hsla {
    color: hsla(240, 5, 57, 1);
}

.color-Scheme-Blue-Tint-4-hsla {
    color: hsla(240, 22, 50, 1);
}

.color-Scheme-Blue-Tint-5-hsla {
    color: hsla(240, 52, 9, 1);
}

/*Mount Hood Color Theme - Blue Tint Vibrant ------------------------------*/
/* Color Theme Swatches in RGBA */

/* Color Theme Swatches in Hex */
.Beautiful-Mount-Hood-Oregon---Color-Scheme-Blue-Tint---More-Vibrant-1-hex {
    color: #F2DEF2;
}

.Beautiful-Mount-Hood-Oregon---Color-Scheme-Blue-Tint---More-Vibrant-2-hex {
    color: #ADABC7;
}

.Beautiful-Mount-Hood-Oregon---Color-Scheme-Blue-Tint---More-Vibrant-3-hex {
    color: #8385B3;
}

.Beautiful-Mount-Hood-Oregon---Color-Scheme-Blue-Tint---More-Vibrant-4-hex {
    color: #5353D7;
}

.Beautiful-Mount-Hood-Oregon---Color-Scheme-Blue-Tint---More-Vibrant-5-hex {
    color: #03030A;
}


.bg-bluetint-vibrant-1-rgba {
    color: rgba(242, 222, 242, 1);
}

.bg-bluetint-vibrant-2-rgba {
    color: rgba(173, 171, 199, 1);
}

.bg-bluetint-vibrant-3-rgba {
    color: rgba(131, 133, 179, 1);
}

.bg-bluetint-vibrant-4-rgba {
    color: rgba(83, 83, 215, 1);
}

.bg-bluetint-vibrant-5-rgba {
    color: rgba(3, 3, 10, 1);
}

/* Color Theme Swatches in HSLA */
.bg-bluetint-vibrant-1-hsla {
    color: hsla(300, 43, 90, 1);
}

.bg-bluetint-vibrant-2-hsla {
    color: hsla(244, 20, 72, 1);
}

.bg-bluetint-vibrant-3-hsla {
    color: hsla(237, 23, 60, 1);
}

.bg-bluetint-vibrant-4-hsla {
    color: hsla(240, 62, 58, 1);
}

.bg-bluetint-vibrant-5-hsla {
    color: hsla(240, 53, 2, 1);
}

/*Skyline Color Theme -----------------------------*/

/* Color Theme Swatches in Hex */
.bg-skyline-greyblue-1-hex {
    color: #343840;
}

.bg-skyline-greyblue-2-hex {
    color: #5F6873;
}

.bg-skyline-greyblue-3-hex {
    color: #929EA6;
}

.bg-skyline-greyblue-4-hex {
    color: #C7D4D9;
}

.bg-skyline-greyblue-5-hex {
    color: #F2F2F2;
}

/* Color Theme Swatches in RGBA */
.bg-skyline-greyblue-1-rgba {
    color: rgba(52, 56, 64, 1);
}

.bg-skyline-greyblue-2-rgba {
    color: rgba(95, 104, 115, 1);
}

.bg-skyline-greyblue-3-rgba {
    color: rgba(146, 158, 166, 1);
}

.bg-skyline-greyblue-4-rgba {
    color: rgba(199, 212, 217, 1);
}

.bg-skyline-greyblue-5-rgba {
    color: rgba(242, 242, 242, 1);
}

/* Color Theme Swatches in HSLA */
.bg-skyline-greyblue-1-hsla {
    color: hsla(219, 10, 22, 1);
}

.bg-skyline-greyblue-2-hsla {
    color: hsla(213, 9, 41, 1);
}

.bg-skyline-greyblue-3-hsla {
    color: hsla(203, 10, 61, 1);
}

.bg-skyline-greyblue-4-hsla {
    color: hsla(196, 19, 81, 1);
}

.bg-skyline-greyblue-5-hsla {
    color: hsla(0, 0, 94, 1);
}


/*  -- */